/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-family: "Inter", "Helvetica", "Arial";
}

h1, h2, h3, h4, h5 {
    color: #111827!important;
}

.v-table, .v-card {
    background: #f9fafb;
    border-radius: 8px;
}